<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locationcheck">

    <!-- Permissions for accessing location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Ensuring app can run in the background -->
    <application
        android:label="locationcheck"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Flutter theme configuration -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
              
            <!-- Main activity intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Required to query activities that can process text -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- Foreground Service for background tasks -->
        <service
            android:name=".BackgroundLocationService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">  <!-- Set to true or false based on your requirements -->
            <intent-filter>
                <action android:name="com.example.locationcheck.BACKGROUND_LOCATION_SERVICE" />
            </intent-filter>
        </service>
    </application>

    <!-- Queries section for text processing -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
